html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
	width: 1020px;
	margin: 0 auto;
	padding: 20px 4rem;
	box-sizing: border-box;
}

dl {
	margin: 0 0 20px 0;
}

dt {
	margin: 0;
	padding: 5px 0;
	width: 150px;
	float: left;
	clear: both;
	color: #808d9a;
}

dt:after {
	content: ":";
}

dd {
	margin: 0 0 0 150px;
	padding: 5px 0;
}

dd a {
	color: #22BE54;
}

dd a:hover {
	text-decoration: underline;
}