.transactionItem {
	padding: 12px 0;
}

.transactionItem:hover h2 {
	color: #22BE54;
}

.transactionItem + .transactionItem {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.transactionItem__head {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.transactionItem__head h2 {
	transition: 150ms color ease-in-out;
	margin: 0;
	padding: 0;

	font-size: 1rem;
	line-height: 110%;
}

.transactionItem__head time {
	margin-left: auto;

	color: rgba(0, 0, 0, 0.6);
	font-size: 1rem;
	line-height: 110%;
}

.transactionItem__amount {
	font-size: 0.875rem;
	line-height: 110%;
}